/*color de fondo*/
body {
  background-image: radial-gradient(circle, #051937, #49375a, #885a77, #c38390, #f7b4a7);
  /*background-color: #F7B4A7;*/
}

/* encabezado */
header h1 {
  /* Borde sólido de 5 píxeles */
  border: 5px solid #000000;
  /*agregamos radios border para volverlo redondo las esquinas*/
  border-radius: 15px 15px 15px 15px;
  /*color de fondo del texto*/
  background-color: #94DDDE;
  /*color de texto*/
  margin: auto;
  color: #2B4B82;
  font-family: sans-serif;
}

/*li*/
.palabra {
  border: 3px solid #000000;
  border-radius: 20px;
  background-color: #2B4B82;
}

.caracter {
  border: 3px solid #000000;
  border-radius: 20px;
  background-color: #2B4B82;
}

.sin {
  border: 3px solid #000000;
  border-radius: 20px;
  background-color: #2B4B82;
}

.numero {
  border: 3px solid #000000;
  border-radius: 20px;
  background-color: #2B4B82;
}

.suma {
  border: 3px solid #000000;
  border-radius: 20px;
  background-color: #2B4B82;
}

.tam {
  border: 3px solid #000000;
  border-radius: 20px;
  background-color: #2B4B82;
}

/* Estilos para area de texto */
textarea[name="texto"] {
  border: 5px solid #000000;
  border-radius: 10px;
  background-color: #F0ABC1;
}

/* Estilos para el botón de limpiar */
#reset-button {
  border: 3px solid #000000;
  border-radius: 10px;
  background-color: #94DDDE;
}

/* Estilos para el pie de página */
footer {
  border: 1px solid #ccc;
  background-color: #94DDDE;
}